<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags for search engine -->
    <meta name="description" content="Code Cuisine. Code Inspired Restaurant.">
    <meta name="keywords" content="Code Cuisine. Code Cafe. Code Restaurant.">
    <!--Title-->
    <title>Code Cuisine</title>
    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/icons8-hamburger-sf-regular-filled-96.png">
    <link rel="icon" sizes="32x32" href="static/favicons/icons8-hamburger-sf-regular-filled-32.png">
    <link rel="icon" sizes="16x16" href="static/favicons/icons8-hamburger-sf-regular-filled-16.png">
    <!--Styles-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <ul class="navlink">
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
            </ul>
        </nav>
        <a href="{{ url_for('index') }}"><h1 class="header-title">Code Cuisine</h1></a>
        <nav>
            <ul class="navlink">
                <li class="text-end"><a href="{{ url_for('booking') }}">Booking</a></li>
            </ul>
        </nav>
    </header>
    <!-- main content -->
    <main class="main-content">
        <div class="cc-container">
            <div class="cc-title">Book Your Table Here!</div>
            <button type="button" class="btn btn-outline-warning btn-lg mb-2" onclick="showCancellationForm()" id="cancel-button">Cancel Your Booking Here!</button>
            <form id="booking-form">
                <!--part 1 of form-->
                <div id="form-part-1" class="form-section active form-layout">
                    <div class="cc-category">Contact Info</div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>

                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="phone">Phone Number:</label>
                        <input type="text" id="phone" name="phone" required>
                    </div>
                    <button type="button" class="btn btn-outline-warning" onclick="goToNextSection('form-part-1', 'form-part-2')">Next</button>
                </div>
                <div id="form-part-2" class="form-section">
                <!--part 2 of form-->
                    <div class="cc-category">Pick Your Table</div>
                    <div class="form-group">
                        <label for="table">Table Number</label>
                        <select id="table" name="table" required>
                            <option value="">Select a Table</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="guests">Number of Guests</label>
                        <input type="number" id="guests" name="guests" min="1" required>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-warning mr-3" onclick="showSection('form-part-1')">Back</button>
                        <button type="button" class="btn btn-outline-warning" onclick="goToNextSection('form-part-2', 'form-part-3')">Next</button>
                    </div>
                </div>
                <div id="form-part-3" class="form-section">
                <!--part 3 of form-->
                    <div class="cc-category">Confirm Booking</div>

                    <div class="form-group">
                        <label for="booking-date">Select Date:</label>
                        <input type="date" id="booking-date" name="booking-date" required>

                        <label for="booking-time">Select time:</label>
                        <input type="time" id="booking-time" name="booking-time" required>
                    </div>
                    <div>
                        <button type="button" id="submit-button" class="btn btn-outline-warning btn-lg mt-3 mr-2" onclick="validateAndSubmit()">Submit Booking!</button>
                        <button type="button" class="btn btn-outline-warning mt-3" onclick="showSection('form-part-2')">Back</button>
                    </div>
                </div>
            </form>
            <div id="popup-container"></div>

            <!--Cancellation form-->
            <div id="cancellation-section" class="form-section">
                <form id="cancel-form" class="form-layout">
                    <div class="cc-category">Cancel Your Booking</div>
                    <div class="form-group">
                        <label for="cancel-name">Name:</label>
                        <input type="text" id="cancel-name" required>

                        <label for="cancel-email">Email:</label>
                        <input type="email" id="cancel-email" required>

                        <label for="cancel-phone">Phone Number:</label>
                        <input type="text" id="cancel-phone" required>

                        <label for="cancel-table">Table Number:</label>
                        <input type="number" id="cancel-table" min="1" required>
                    </div>
                    <div>
                        <button type="button" class="btn btn-outline-warning mr-3" onclick="cancelBooking()">Cancel Booking</button>
                        <button type="button" class="btn btn-outline-warning" onclick="showSection('form-part-1'), showBookingForm()">Back</button>
                    </div>
                </form>
            </div>
            <button id="admin-login-btn" class="btn btn-outline-warning mt-3">Admin Login</button>
        </div>
    </main>
    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">
                <!--message-->
                <div class="col-md-4 text-center text-md-left">
                    <p class="text-center">Join us for a byte to eat! &#129489;&#8205;&#128187;</p>
                    <p class="text-center">Opening and Closing times!</p>
                    <p class="text-center">Monday-Sunday</p>
                    <p class="text-center">10:00-22:00</p>
                </div>
                <!--contact info-->
                <div class="col-md-4 text-center">
                    <h5>Contact us</h5>
                    <p>Email: CodeCuisine@gmail.com</p>
                    <p>Phone: +123456789</p>
                </div>
                <!--social media-->
                <div class="col-md-4 text-center text-md-right">
                    <h5 class="text-center">Check out our Socials!</h5>
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li class="mx-3"><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fa-brands fa-facebook"></i></a></li>
                        <li class="mx-3"> <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)">
                            <i class="fa-brands fa-instagram"></i></a></li>
                        <li class="mx-3"><a href="https://www.twitter.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter page (opens in a new tab)">
                            <i class="fa-brands fa-x-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--scripts-->
    <script src="{{ url_for('static', filename='js/booking.js') }}"></script>
</body>
</html>