<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta tags for search engine -->
    <meta name="description" content="Code Cuisine. Code Inspired Resturaunt.">
    <meta name="keywords" content="Code Cuisine. Code Cafe. Code Resturaunt.">
    <!--Title-->
    <title>Code Cuisine</title>
    <!--Favicon-->
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <!--Styles-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <nav>
            <ul class="navlink">
                <li><a href="{{ url_for('menu') }}">Menu</a></li>
            </ul>
        </nav>
        <a href="{{ url_for('index') }}"><h1 class="header-title">Code Cuisine</h1></a>
        <nav>
            <ul class="navlink">
                <li class="text-end"><a href="{{ url_for('booking') }}">Booking</a>
            </ul>
        </nav>
    </header>
    <!-- main content -->
    <main>
        <!-- Hero image/overlay -->
        <section class="restimg">
            <div class="rest-overlay">
                <div class="text-content">
                    <h1>Code Cuisine</h1>
                    <p>Where great code meets great food.</p>
                    <p>Fuel your creativity, one byte at a time!</p>
                </div>
            </div>
        </section>
        <!-- about section -->
         <section class="container my-5 about-section">
            <div class="row align-item-center">
                <div class="col-md-6">
                    <p class="about-p">Nestled in the heart of the city, Code Cuisine was born from the late-night brainstorming sessions
                         of a group of software developers who wanted to merge their two greatest passions—coding and great food.
                          Frustrated by the lack of inspiring spaces for developers to gather, debug, and dine,
                          they envisioned that every dish paid homage to the digital world.
                         What started as a small café for local coders quickly became a vibrant hub where tech lovers,
                          designers, and foodies alike could fuel their creativity—one byte at a time.</p>
                </div>
                <div class="col-md-6">
                    <img src="{{ url_for('static', filename='images/Burger.jpg') }}" alt="Man holding burger" class="img-fluid round-img">
                </div>
            </div>
         </section>
         <!--google maps with location added-->
         <section class="d-flex justify-content-center pb-5">
            <div id="map" class="map-shadow"></div>
         </section>
    </main>
    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">
                <!--message-->
                <div class="col-md-4 text-center text-md-left">
                    <p class="text-center">Join us for a byte to eat! &#129489;&#8205;&#128187;</p>
                    <p class="text-center">Opening and Closing times!</p>
                    <p class="text-center">Monday-Sunday</p>
                    <p class="text-center">10:00-22:00</p>
                </div>
                <!--contact info-->
                <div class="col-md-4 text-center">
                    <h5>Contact us</h5>
                    <p>Email: CodeCuisine@gmail.com</p>
                    <p>Phone: +123456789</p>
                </div>
                <!--social media-->
                <div class="col-md-4 text-center text-md-right">
                    <h5 class="text-center">Check out our Socials!</h5>
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li class="mx-3"><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fa-brands fa-facebook"></i></a></li>
                        <li class="mx-3"> <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Instagram page (opens in a new tab)">
                            <i class="fa-brands fa-instagram"></i></a></li>
                        <li class="mx-3"><a href="https://www.twitter.com/" target="_blank" rel="noopener"
                            aria-label="Visit our Twitter page (opens in a new tab)">
                            <i class="fa-brands fa-x-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/maps.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL7kY1Zcnj_GfjdJBAFPJP_bFZZtGV7tA&callback=initMap&libraries=marker&map_ids=956c1e32ea6b599&loading=async"></script>
</body>
</html>